<template name="countMap">
  <div id="map" class="mapbox"></div>

  <div id="footer" class="ui grid">
      <div class="one wide column"></div>

      <div class="fourteen wide column">
        <div class="ui segment">
          <div class="ui three column grid">
            <div class="four wide nested column">
              <p>Install it</p>
              <pre>$ meteor add pauloborges:mapbox</pre>
            </div>

            <div class="four wide nested column">
              <p>HTML</p>
              <pre>{{html}}</pre>
            </div>

            <div class="nested column">
              <p>JS</p>
              <pre>{{js}}</pre>
            </div>
          </div>
        </div>
      </div>
      <div class="one wide column"></div>
  </div>
</template>